<div class="reset">
    <div class="heading">Optical Properties</div>
    <div class="input-group mu pull-left">
        <span class="input-group-addon">μa</span>
        <input type="text" class="form-control" placeholder="μa" [(ngModel)]="opticalProperties.mua" />
        <span class="input-group-addon">1/mm</span>
    </div>
    <div class="input-group mu pull-left">
        <span class="input-group-addon">μs'</span>
        <input type="text" class="form-control" placeholder="μs'" [(ngModel)]="opticalProperties.mus" />
        <span class="input-group-addon">1/mm</span>
    </div>
    <div class="input-group number pull-left">
        <span class="input-group-addon">g</span>
        <input type="text" class="form-control" placeholder="g" [(ngModel)]="opticalProperties.g" />
    </div>
    <div class="input-group number pull-left">
        <span class="input-group-addon">n</span>
        <input type="text" class="form-control" placeholder="n" [(ngModel)]="opticalProperties.n" />
    </div>
</div>