<div class="reset">
    <div class="heading">Model/Analysis Output</div>
    <input name="ModelAnalysis" type="radio" [(ngModel)]="modelAnalysis.value" value="R" />&nbsp;R&nbsp;
    <input name="ModelAnalysis" type="radio" [(ngModel)]="modelAnalysis.value" value="dRdMua" />&nbsp;∂R/∂μa&nbsp;
    <input name="ModelAnalysis" type="radio" [(ngModel)]="modelAnalysis.value" value="dRdMusp" />&nbsp;∂R/∂μs'&nbsp;
    <input name="ModelAnalysis" type="radio" [(ngModel)]="modelAnalysis.value" value="dRdG" />&nbsp;∂R/∂g&nbsp;
    <input name="ModelAnalysis" type="radio" [(ngModel)]="modelAnalysis.value" value="dRdN" />&nbsp;∂R/∂n&nbsp;<br /><br />
</div>